---
import { type CollectionEntry, getCollection } from "astro:content";
import removeMarkdown from "remove-markdown";
import { render } from "astro:content";
import BaseHead from "../../_BaseHead.astro";
import RootLayout from "../../_RootLayout.astro";
export const prerender = true;
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await render(post);
const description = removeMarkdown(post.body!, {
  gfm: true,
  useImgAltText: false,
}).replaceAll("\n", " ");
---

<RootLayout>
  <Fragment slot="head">
    <BaseHead
      pageTitle={post.data.title}
      pageDescription={description}
      image={`/posts/${post.id}/ogp.png`}
    />
  </Fragment>
  <div
    class="container mx-auto mb-10 transition-opacity duration-300 xl:max-w-3xl 2xl:max-w-3xl aspect-[1200/630] relative"
  >
    <img
      src={post.data.eyecatch ?? "/images/ogp.png"}
      alt={post.data.title}
      width="1200"
      height="630"
      class="object-cover w-full h-full pointer-events-none"
    />
    <img
      src={`/posts/${post.id}/ogp.png`}
      alt={post.data.title}
      width="300"
      height="157.5"
      class="rounded-[25px] object-cover absolute bottom-5 right-5 opacity-95"
    />
  </div>
  <div
    class="markdown-body container mx-auto border-2 border-dashed border-brand-sub p-4 xl:max-w-3xl 2xl:max-w-3xl text-xl markdown-body--wide"
  >
    <Content />
  </div>
</RootLayout>
